<p id="notice"><%= notice %></p>

<p>
  <strong>Skills:</strong>
  <%= @posting.skills %>
</p>

<p>
  <strong>Description:</strong>
  <%= @posting.description %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @posting.experience %>
</p>

<p>
  <strong>Postition:</strong>
  <%= @posting.postition %>
</p>

<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
